*{
    margin: 0;
    padding: 0;
   }
   h1 {
   color: blueviolet;
   background-color: rgb(247, 247, 21);
   line-height: 5rem;
   height:5rem;
   text-align: center;
   } 
   
   .choice {
       height: 165px;
       width: 165px;
       border-radius: 50%;
       display: flex;
       justify-content: center;
       align-items: center;
       border-radius: 50%;
       justify-content: center;
   }
   .choice:hover{
       opacity:0.5;
       cursor:pointer;
       background-color: blue;
   }
   img {
   height: 150px;
   width: 150px;
   object-fit: cover;
   border-radius: 50%;
   }
   .chocies{
       display:flex;
       justify-content :center;
       align-items:center;
       gap:3 rem;
       margin-top: 5 rem;
   }
   .score-board {
    display: flex;
    justify-content: center;
    align-items: center;
   font-size: 2rem;
   gap:5 rem;
   margin-top: 3 rem;
   
   }
   .msg-container {
       margin-top: 5 rem;
       background-color: aqua;
       height: 20px;
       font-size: 3rem;
   
   }
   #user-score,
   #comp score {
       font-size: 4rem;
   
   }
   
   #msg {
    background-color:aquamarine;
    color:royalblue;
   font-size: 2rem;
    display:inline;
    padding: 1 rem;
   } 